.container-nav {
  box-sizing: border-box;
  padding: 20px;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.breadcrumb-item {
  font-size: 18px;
}
.container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.container-servico {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 100%;
  max-height: 1000px;
  overflow-y: auto;
}
.card-servico {
  width: calc(33.33% -10px);
  max-width: 500px;
  margin-bottom: 10px;
}
.text-container {
  width: 100%; 
}
.text {
  font-size: 16px;
}

.image {
  width: 100%;
  max-width: 100%; 
  margin-top: 10px;
}
@media screen and (max-width: 768px )and (min-width: 320px) {
  .container-nav {
    padding: 10px;

  }
  .breadcrumb-item {
    font-size: 14px;
  }
  /* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  } */
  .container {
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens à esquerda */
  }
  
  .image {
    margin-top: 20px;
  }
  .text {
    font-size: 13px;
    
  }
  .container-servico {
    flex-direction: column; /* Coloca os itens um em cima do outro */
    align-items: center; /* Alinha os itens no centro */
  }
  .card-servico {
    width: 100%; 
    max-width: 100%;/* Ocupa toda a largura */
  }
 
}